{% extends 'main/base.html' %} 
{% block content %} 
<h1>{{title}}</h1> 
<p> это образовательная площадка подготовки руководителей высшего уровня на казахстанских и международных программах МВА, Executive MBA, DBA и Executive Education programs. Программы МВА ВШБ имеют самую престижную аккредитацию в сфере МВА программ - АМВА (Association of MBA's, Великобритания), лицензию Министерства Образования и Науки РК, и ряд других международных, региональных аккредитаций, что ставит Высшую Школу Бизнеса  AlmaU в один ряд с лучшими бизнес-школами мира.</p> 
{% endblock %}